# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
**/.env

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
**/coverage/

# Build
dist/
build/